In [1]:
import pandas as pd
import numpy as np

from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import col

In [2]:
sp = SparkSession.builder.appName("Check data").getOrCreate()
sp

22/10/05 01:14:07 WARN Utils: Your hostname, J-L resolves to a loopback address: 127.0.1.1; using 172.18.71.108 instead (on interface eth0)
22/10/05 01:14:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/05 01:14:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
trans = sp.read.option("inferSchema", True).parquet("../data/processed/transactions/")
trans.show(3)

+--------+-------+------------+------------+--------------+-----------+-----------------+----------+-------+
|order_id|user_id|merchant_abn|dollar_value|order_datetime|Natural_var|Potential_Outlier|      date|holiday|
+--------+-------+------------+------------+--------------+-----------+-----------------+----------+-------+
|       3|      3| 60956456424|      136.68|    2021-08-20|      false|            false|2021-08-20|      0|
|       8|  18482| 70501974849|       68.75|    2021-08-20|      false|            false|2021-08-20|      0|
|      11|      7| 33064796871|      373.09|    2021-08-20|      false|            false|2021-08-20|      0|
+--------+-------+------------+------------+--------------+-----------+-----------------+----------+-------+
only showing top 3 rows

In [5]:
deets = sp.read.option("inferSchema", True).parquet("../data/curated/consumer_details/")
deets.show()

+-----------+-----------------+--------------------+-----+--------+-----------+-------+
|consumer_id|             name|             address|state|postcode|     gender|user_id|
+-----------+-----------------+--------------------+-----+--------+-----------+-------+
|     870353|    Charles Davis|     048 Ward Common|   SA|    5261|       Male| 213579|
|     923963|Jacqueline Nelson|151 Lynn Gateway ...|  QLD|    4744|     Female| 213580|
|      93016|    Carolyn Smith|  37467 Kelly Stream|  QLD|    4454|     Female| 213581|
|      61324|      Denise Rush|8472 Latasha Mano...|   WA|    6705|     Female| 213582|
|     823311|  Nathan Williams| 8241 Thomas Parkway|  NSW|    2145|       Male| 213583|
|    1092697|        Jon White|  3291 Rose Villages|   SA|    5007|       Male| 213584|
|     285579|    Joseph Martin|    2322 Regina Port|  NSW|    1219|       Male| 213585|
|    1109809|   Robert Johnson|25644 Keith Villa...|  VIC|    3638|       Male| 213586|
|     830569|       Jay Rivera|    2393 John Points|  VIC|    3072|       Male| 213587|
|    1393576|    Justin Obrien|     4616 Aaron Road|   WA|    6484|       Male| 213588|
|    1251086|      James Brown|  3206 Carter Divide|  QLD|    4074|Undisclosed| 213589|
|     168392|    Jeffrey Clark|61463 Bryan Grove...|  VIC|    3031|Undisclosed| 213590|
|    1266229|     Robert White|6278 James Walk S...|  NSW|    2490|       Male| 213591|
|     861478|    Lindsay Smith|92687 Luis Circle...|  NSW|    2799|     Female| 213592|
|     980761| Loretta Johnston|621 Kaitlyn Rue S...|   SA|    5414|     Female| 213593|
|     680225|    Jill Martinez|    80577 Berger Row|  QLD|    4068|     Female| 213594|
|    1220180| Katherine Powell|     9333 Maria Dale|  VIC|    3462|     Female| 213595|
|     490163|       Tina Silva|      070 Tyler Lock|  VIC|    3011|     Female| 213596|
|     663380|    Marilyn Haney|697 White Rapids ...|   NT|     871|     Female| 213597|
|     663010|     Linda Rhodes|388 Amanda Fords ...|  QLD|    4381|     Female| 213598|
+-----------+-----------------+--------------------+-----+--------+-----------+-------+
only showing top 20 rows